.user-acc {
  max-width: calc(100% - 90px);
}

.right-account {
  max-width: calc(100% - 2rem);
}

// .message-field{
//     resize: none;
//     @apply bg-gray-lighter p-1 w-full;
// }

.member-item {
  .btn-remove-member {
    transition: 300ms all;
    opacity: 0;
    visibility: hidden;
  }

  &:hover {
    .btn-remove-member {
      opacity: 1;
      visibility: visible;
    }
  }
}

.list-chat-wrap {
  width: 100%;
  transform: translateX(100%);

  &.list-chat-active {
    transform: translateX(0);
  }
}

@media (min-width: 556px) {
  .list-chat-wrap {
    width: 384px;
    transform: translateX(100%);

    &.list-chat-active {
      transform: translateX(0);
    }
  }
}

.list-chat-room {
  flex-wrap: nowrap;
  overflow: hidden;
}

// Bubble chat
.bubble-chat-list {
  padding: 0 0.5rem 1.5rem;
}

.chat-window-item {
  @apply rounded-t-lg w-80 h-96 z-100 relative flex-col mr-2 shadow-[0_4px_6px_rgba(0,0,0,0.15)] border;
  width: 320px;

  img {
    object-fit: cover;
    //max-width: -webkit-fill-available;
  }

  @media (max-width: 767px) {
    position: fixed;
    z-index: 201;
    top: 0;
    left: 0;
    right: 0;
    height: 100svh;
    max-height: 100svh;
    width: 100%;
    overflow: hidden;
    background: #fff;
  }
}

.chatbox-header {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.05);
}

@media (max-width: 556px) {
  //.chat-window-item {
  //  position: fixed;
  //  top: 0;
  //  left: 0;
  //  z-index: 201;
  //  height: 100vh;
  //  width: 100%;
  //}
  //
  //// Bubble chat
  //.bubble-chat-list {
  //  padding: 0 0.5rem 1.5rem;
  //  z-index: 201;
  //}
}

.bubble-chat-item {
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 50%;
  background-color: white;
  @apply shadow-[0_4px_4px_2px_rgba(0,0,0,0.15)] duration-300;

  &__name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    padding: 5px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 50%;

    & > span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__btn-close {
    z-index: 2;
  }

  &__btn-close,
  &__fleg-mess {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    top: -4px;
    right: -4px;
    @apply bg-gray-secondary;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 20px;
    color: white;
    transition: 300ms all;
  }

  &__fleg-mess {
    @apply bg-red-500;
    height: 12px;
    width: 12px;
    display: block;
    top: 2px;
    right: 2px;
    z-index: 1;
    opacity: 1;
    visibility: visible;
    @apply text-red-500;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
  }

  &:hover {
    .bubble-chat-item__btn-close {
      opacity: 1;
      visibility: visible;
    }
  }
}

.show-more-bubble {
  height: 50px;
  width: 50px;
  @apply bg-blue-secondary;
  margin-top: 1rem;
  color: white;
  border-radius: 50%;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  .show-more-wrap {
    background: white;
    margin: 0 5px 0 0;
    width: 220px;
    max-width: calc(100vw - 80px);
    position: absolute;
    right: 100%;
    bottom: 0;
    padding: 5px;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms;
    border-radius: 3px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, 0.3);
    max-height: 180px;
    overflow: auto;

    .bubble-chat-item__name {
      @apply text-ink-primary;
      max-width: 100%;
      width: 100%;
      justify-content: left;
      height: unset;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      padding: 8px 30px 8px 3px;
    }

    .bubble-chat-show-more {
      transition: 300ms all;
      border-radius: 3px;
      position: relative;

      &:hover {
        @apply bg-gray-secondary;
      }
    }

    .bubble-chat-item__btn-close {
      visibility: visible;
      opacity: 1;
      top: 8px;
      right: 4px;
      background: none;
      @apply text-gray-primary;

      &:hover {
        @apply text-red-500;
      }
    }
  }

  &:hover {
    .show-more-wrap {
      opacity: 1;
      visibility: visible;
    }
  }
}

.mes-user-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  max-width: 80px;
  text-overflow: ellipsis;
}
