.tab-list {
    @apply min-h-[48px] [&>div]:h-full w-full max-w-[1200px] m-auto bg-white mt-8 rounded-md overflow-hidden relative;
    box-shadow: 0px 5px 12px 0px #0000001a;

    & > div {
        @apply flex flex-row;
    }
    & button {
        @apply text-sm font-normal text-[#637381] bg-white h-12 cursor-pointer px-4;
        text-wrap: nowrap;
        font-family: sans-serif;
    }
}

.active-tab {
    @apply border-b-2 border-[#506CF0];
    color: #506cf0 !important;
    font-weight: 600 !important;
}

.menu-tab {
    @apply p-[6px] font-normal text-sm leading-6 text-[#637381] bg-white;
}
