.banner {
  @apply bg-[#0078D4] py-6 w-full relative;
}
.overlay {
  content: "";
  width: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  /* background: url(/overlay-pattern.png) rgba(0, 110, 253, 0.05); */
  z-index: 1;
  height: 100%;
}

.inner {
  position: relative;
  z-index: 10;
}
