.RoadmapItem {
  :global(.wrapImage) {
    @apply transition-all duration-300
  }
  &:hover {
    :global(.wrapImage) {
      transform: scale(1.03);
    }
  }
}

.swiperFeedback {
  position: relative;

  &:before {
    left: 0;
    background: linear-gradient(90deg, #fff 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:after {
    right: 0;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,#fff 100%);
  }

  &:before, &:after {
    content: '';
    height: 100%;
    position: absolute;
    top: 0;
    width: 20vw;
    z-index: 2;
    @apply md:block hidden
  }

  :global(.swiper-pagination-bullet) {
    height: 12px;
    width: 12px;
  }
}
.btnLogin {
  @apply rounded-full cursor-pointer w-[55px] h-[55px] flex items-center justify-center border;

  &:hover {
    img {
      @apply invert brightness-0
    }
  }
}