.table {
  background-color: #f0f9ff;
  border-radius: 16px;
  overflow: hidden;

  tr {
    height: 50px;
  }

  th {
    font-size: 16px !important;
    color: #637381 !important;
    font-weight: 600 !important;
  }

  td {
    color: #111928;
    font-size: 14px;
    font-weight: 600;

    a {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

@media screen and (max-width: 639px) {
  .table {
    th,
    td {
      font-size: 13px !important;

      a {
        max-width: 150px;
      }
    }
  }
}

@media screen and (max-width: 419px) {
  .table {
    th,
    td {
      font-size: 13px !important;

      a {
        max-width: 100px;
      }
    }
  }
}
