.wrap-label{
    width:calc(100% - 40px)
}
.label{
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-overflow: ellipsis;
    color:var(--color-blue)
}