.answer-item {
  display: block;

  label {
    display: block;
    padding-left: 0;
  }

  &:global([data-checked='true']) {
    background: #4d96ff;
    :global(.mantine-Radio-radio) {
      background: #4D96FF;
      border: 2px solid #fff;
      svg {
        color: #4D96FF;
      }
    }
  }

  &:global(.isAnsweredCorrect) {
    background: #05972C;
    :global(.mantine-Radio-radio) {
      background: #05972C;
      svg {
        color: #05972C;
      }
    }
  }

  &:global(.isAnsweredInCorrect) {
    background: #EF4444;
    :global(.mantine-Radio-radio) {
      background: #EF4444;
      svg {
        color: #EF4444;
      }
    }
  }

  :global(.mantine-Radio-inner) {
    svg {
      margin-top: 10px;
    }
  }
}
.answer-item-checkbox {
  display: block;

  label {
    display: block;
    padding-left: 0;
  }

  &:global([data-checked='true']) {
    background: #4d96ff;
    :global(.mantine-Checkbox-inner) {
      background: #4d96ff;
      input {
        background: #4d96ff;
      }
      svg {
        color: #fff;
      }
    }
  }

  &:global(.isAnsweredCorrect) {
    background: #05972C;
    :global(.mantine-Radio-radio) {
      background: #05972C;
    }
    :global(.mantine-Checkbox-inner) {
      background: #05972C;
      input {
        background: #05972C;
      }
    }
  }

  &:global(.isAnsweredInCorrect) {
    background: #EF4444;
    :global(.mantine-Radio-radio) {
      background: #EF4444;
      svg {
        color: #EF4444;
      }
    }
    :global(.mantine-Checkbox-inner) {
      background: #EF4444;
      input {
        background: #EF4444;
      }
    }
  }

  :global(.mantine-Checkbox-inner) {
    svg {
      margin-top: 26px;
    }
  }
}

.root {
  :global(p) {
    padding: 0;
    margin: 0;
  }
}
