.lucky-spin-container {
  background-image: url("/images/event/lucky-spin-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 40px;
  overflow: hidden;
}