.ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-weight: 700;
}

.ellipsis-breadcrumb {
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
    line-height: 1.5;
}

.ownerName{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.video-breadcrumbs {
    padding-top: inherit;
}

.video-breadcrumbs::-webkit-scrollbar-thumb {
    border-radius: 4px;
}

.video-breadcrumbs::-webkit-scrollbar {
    height: 4px;
}

.video-folder-name {
    word-break: break-word;
}