.description {
  font-size: 14px;
  line-height: 1.5em;
  color: #404040;
  word-break: break-word;
  overflow: hidden;

  &.view-less {
    // max-height: 10.4em;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 7;
  }
}
