.event-quiz-answer {
  word-break: break-word;
  flex-grow: 1;
  max-width: 85%;

  p {
    margin: 0;
  }
}

.radio-input {
  display: none;
}

.custom-radio {
  width: 20px;
  height: 20px;
  border: 1px solid#9CA3AF;
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 4px;
}

.radio-input:checked + .custom-radio {
  border: 1px solid#506cf0;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: #506cf0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.custom-radio-circle {
  width: 20px;
  height: 20px;
  border: 1px solid#9CA3AF;
  display: inline-block;
  position: relative;
  cursor: pointer;
  vertical-align: middle;
  margin-right: 8px;
  border-radius: 100%;
}

.radio-input:checked + .custom-radio-circle {
  border: 1px solid#506cf0;
  background-color: #506cf0;

  &::after {
    content: "";
    width: 10px;
    height: 10px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100%;
  }
}
