.answer-item {
  display: block;

  label {
    display: block;
    padding-left: 0;
  }

  &:global([data-checked='true']) {
    :global(.mantine-Radio-label) {
      font-weight: 700;
    }
    :global(.mantine-Radio-radio) {
      background: #FFF;
      border: 1px solid #506CF0;
    }
    :global(.mantine-Radio-inner) {
      svg {
        color: #506CF0;
      }
    }
  }

  &:global(.isAnsweredCorrect) {
    :global(.mantine-Radio-label) {
      color: #13C296;
      font-weight: 700;
    }
    :global(.mantine-Radio-radio) {
      background: #FFF;
      border: 1px solid #13C296;
    }
    :global(.mantine-Radio-inner) {
      svg {
        color: #13C296;
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  &:global(.isAnsweredInCorrect) {
    :global(.mantine-Radio-label) {
      color: #F56060;
      font-weight: 700;
    }
    :global(.mantine-Radio-radio) {
      background: #FFF;
      border: 1px solid #F56060;
    }
    :global(.mantine-Radio-inner) {
      svg {
        color: #F56060;
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  :global(.mantine-Radio-inner) {
    svg {
      margin-top: 5px;
    }
  }
}

.answer-item-checkbox {
  display: block;

  label {
    display: block;
    padding-left: 0;
  }

  &:global([data-checked='true']) {
    :global(.mantine-Checkbox-label) {
      font-weight: 700;
    }
    :global(.mantine-Checkbox-inner) {
      input {
        background: #506CF0;
        border-color: #506CF0;
      }
      svg {
        color: #fff;
      }
    }
  }

  &:global(.isAnsweredCorrect) {
    :global(.mantine-Checkbox-label) {
      font-weight: 700;
      color: #13C296;
    }
    :global(.mantine-Checkbox-inner) {
      input {
        background: #13C296;
        border-color: #13C296;
      }
      svg {
        color: #fff;
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  &:global(.isAnsweredInCorrect) {
    :global(.mantine-Checkbox-label) {
      font-weight: 700;
      color: #F56060;
    }
    :global(.mantine-Checkbox-inner) {
      input {
        background: #F56060;
        border-color: #F56060;
      }
      svg {
        color: #fff;
        opacity: 1;
        transform: translateY(0) scale(1);
      }
    }
  }

  :global(.mantine-Checkbox-inner) {
    svg {
      margin-top: 14px;
    }
  }
}

.root {
  :global(p) {
    padding: 0;
    margin: 0;
  }
}
