.landing__receive-value-box-wrapper {
  width: 100%;
  position: relative;
}

.oval {
  position: absolute;
  top: 0;
  left: 50%;
  width: 105%;
  height: 100px;
  background-color: white;
  border-radius: 50% / 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  transform: translateX(-50%);
}

.landing__rounds-map {
  width: 100%;
  background-image: url("/images/event/landing-rounds-map.jpg");
  display: flex;
  flex-direction: column;
  align-items: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}

.landing__first-road {
  position: absolute;
  z-index: -1;
}

.landing__second-road {
  position: absolute;
  z-index: -1;
  transform: scaleX(-1);
}

.landing__road-thin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.leaderboard-wrapper {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    margin: -5px;
    border-radius: inherit;
    background: linear-gradient(to right, #1161c0, #b9e6ff);
    border-radius: 86px;
    box-shadow: 6px 6px 0 0 #074e81;
  }
}

@media screen and (min-width: 1480px) {
  .landing__rounds-map {
    padding-top: 280px;
    padding-bottom: 300px;
  }

  .landing__first-road {
    width: 733px;
    top: 74%;
    left: 20%;
  }

  .landing__second-road {
    width: 733px;
    top: 72%;
    left: -40%;
  }
}

@media screen and (min-width: 1440px) and (max-width: 1479px) {
  .landing__rounds-map {
    padding-top: 250px;
    padding-bottom: 300px;
  }

  .landing__first-road {
    width: 633px;
    top: 72%;
    left: 15%;
  }

  .landing__second-road {
    width: 633px;
    top: 70%;
    left: -51%;
  }
}

@media screen and (min-width: 1328px) and (max-width: 1439px) {
  .landing__rounds-map {
    padding-top: 220px;
    padding-bottom: 300px;
  }

  .landing__first-road {
    width: 580px;
    top: 72%;
    left: 15%;
  }

  .landing__second-road {
    width: 580px;
    top: 72%;
    left: -49%;
  }
}

@media screen and (min-width: 1180px) and (max-width: 1327px) {
  .landing__rounds-map {
    padding-top: 220px;
    padding-bottom: 300px;
  }

  .landing__first-road {
    width: 550px;
    top: 72%;
    left: 10%;
  }

  .landing__second-road {
    width: 550px;
    top: 72%;
    left: -49%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1179px) {
  .landing__rounds-map {
    padding-top: 220px;
    padding-bottom: 250px;
  }

  .landing__first-road {
    width: 480px;
    top: 62%;
    left: 8%;
  }

  .landing__second-road {
    width: 520px;
    top: 62%;
    left: -75%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .oval {
    width: 120%;
  }

  .landing__rounds-map {
    padding-top: 180px;
    padding-bottom: 250px;
  }

  .landing__first-road {
    display: none;
  }

  .landing__second-road {
    display: none;
  }

  .landing__road-thin {
    top: 9%;
    width: 350px;
  }

  .leaderboard-wrapper {
    &::before {
      border-radius: 46px;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .oval {
    width: 130%;
  }

  .landing__rounds-map {
    padding-top: 180px;
    padding-bottom: 250px;
  }

  .landing__first-road {
    display: none;
  }

  .landing__second-road {
    display: none;
  }

  .landing__road-thin {
    top: 9%;
    width: 350px;
  }

  .leaderboard-wrapper {
    &::before {
      border-radius: 46px;
    }
  }
}

@media screen and (min-width: 420px) and (max-width: 639px) {
  .oval {
    width: 140%;
  }

  .landing__rounds-map {
    padding-top: 180px;
    padding-bottom: 200px;
  }

  .landing__first-road {
    display: none;
  }

  .landing__second-road {
    display: none;
  }

  .landing__road-thin {
    top: 9%;
    width: 350px;
  }

  .leaderboard-wrapper {
    &::before {
      border-radius: 30px;
    }
  }
}

@media screen and (max-width: 419px) {
  .oval {
    width: 180%;
  }

  .landing__rounds-map {
    padding-top: 180px;
    padding-bottom: 200px;
  }

  .landing__first-road {
    display: none;
  }

  .landing__second-road {
    display: none;
  }

  .landing__road-thin {
    top: 9%;
    width: 350px;
  }

  .leaderboard-wrapper {
    &::before {
      border-radius: 30px;
    }
  }
}
