.modal{
    width: 1140px;
    max-width: 90vw;
    padding:0;
    border-radius: 8px;
    border: 1px solid var(--color-gray-light);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1), 0px 24px 64px rgba(0, 0, 0, 0.15);
    &.xs{
        width: 480px;
    }
    &.sm{
        width: 660px;
    }
    &.md{
        width: 860px;
    }
    &.lg{
        width: 992px;
    }
}
.title {
    @apply font-semibold;
    @apply text-xl
}
.header{
    padding:14px 24px;
        border-bottom: 1px solid var(--color-gray-light);
        margin:0;
    button{
        width: 32px;
        height: 32px;
        line-height: 32px;
        svg{
            width: 26px !important;
            height: 26px !important;
        }
        path{
            fill:var(--color-black)
        }
    }
}
.body{
    padding:18px 24px;
    margin:0;
}