.item {
  @apply hover:border-[#0078D4] h-full rounded-lg duration-300 p-6 shadow-md;
}
.wrapThumb{
  @apply mb-4;
  margin-left: -24px;
  margin-right: -24px;
  margin-top: -24px !important;
}
.thumbnail {
  @apply relative bg-gray-500;
}
.metadata {
  @apply grid grid-cols-2 text-gray-primary text-sm;
}
