.item {
    @apply hover:border-blue-primary relative h-full cursor-pointer rounded duration-300 p-4;
}
.wrapThumb{
    @apply mb-4;
    margin-left: -24px;
    margin-right: -24px;
    margin-top: -24px;
}
.thumbnail {
    @apply relative bg-gray-500;
}
.metadata {
    @apply grid grid-cols-2 text-gray-primary text-sm;
}
