.event-leaderboard {
  background-image: url("/images/event/leaderboard-bg.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
  max-width: 1920px;

  .top-user-wrapper {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    color: white;
    width: fit-content;
    align-items: flex-end;
  }
}

@media screen and (min-width: 1480px) {
  .event-leaderboard {
    margin-top: -250px;
    height: 1200px;

    .event-leaderboard__content {
      padding-top: 250px;
    }

    .top-user-wrapper {
      margin-top: 20px;
      gap: 75px;
    }
  }
}

@media screen and (min-width: 1180px) and (max-width: 1479px) {
  .event-leaderboard {
    height: 900px;
    margin-top: -80px;

    .event-leaderboard__content {
      padding-top: 80px;
    }

    .top-user-wrapper {
      margin-top: 45px;
      gap: 0px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1327px) {
  .event-leaderboard {
    height: 900px;
    margin-top: -80px;

    .event-leaderboard__content {
      padding-top: 80px;
    }

    .top-user-wrapper {
      margin-top: 45px;
      gap: 0px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .event-leaderboard {
    height: 900px;
    margin-top: -90px;

    .event-leaderboard__content {
      padding-top: 90px;
    }

    .top-user-wrapper {
      margin-top: 45px;
      gap: 0px;
    }
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .event-leaderboard {
    height: 700px;
    margin-top: -80px;

    .event-leaderboard__content {
      padding-top: 80px;
    }

    .top-user-wrapper {
      margin-top: 15px;
      gap: 0px;
    }
  }
}

@media screen and (min-width: 420px) and (max-width: 639px) {
  .event-leaderboard {
    height: 540px;
    margin-top: -20px;

    .event-leaderboard__content {
      padding-top: 20px;
    }

    .top-user-wrapper {
      margin-top: 5px;
      gap: 0px;
    }
  }
}

@media screen and (max-width: 420px) {
  .event-leaderboard {
    height: 470px;
    margin-top: 0px;

    .event-leaderboard__content {
      padding-top: 0px;
    }

    .top-user-wrapper {
      margin-top: 5px;
      gap: 5px;
    }
  }
}
