.comment {
  position: relative;
  :global(.count) {
    position: absolute;
    top: 12px;
    right: 2px;
    padding: 2px 4px;
    text-align: center;
    font-size: 10px;
    border-radius: 3px;
    color: #fff;
    background: #2c31cf;
    @apply shadow-md;
  }
  &:global(.active) {
    :global(.count) {
      //display: none;
      background: #fff;
      color: #2c31cf;
    }
  }
}
