.editor {
  :global(.tox-tinymce) {
    height: 80px !important;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 8px;
    :global(iframe) {
      background: #fff;
    }
  }
}

.content {
  overflow: hidden;
  max-height: 100px;
  &:global(.expand) {
    max-height: 4000px;
  }
  :global(*) {
    margin: 0;
  }
  :global(p) {
    font-size: 14px;
    margin-bottom: 0;
  }
  :global(img) {
    max-height: 500px;
  }
  :global(a) {
    @apply text-primary underline
  }
}