.test-case-content {
    width: calc(100% - 140px);
}
.testcase-title {
    width: calc(100% - 20px);
}
.control-list {
    width: 140px;
}

.tab {
    button[data-active] {
    }
    button:not([data-active]):hover {
        background: inherit;
    }
    :global(table) {
        tr > th {
            font-weight: bold;
            // color: #fff;
            // border: 1px solid #dee2e6;
            border-bottom-width: 2px;
        }
        tr > td {
            // color: #fff;
            // border: 1px solid #dee2e6;
        }
    }
}

.test-case-item {
    min-width: fit-content;
    padding-left: 16px;
    padding-right: 16px;
    height: 45px;
}
