.event-question-content {
  img {
    max-width: 100%;
  }
}

.quiz-timer-mobile {
  display: none;
}


@media screen and (max-width: 820px) {
  .quiz-timer {
    display: none;
  }

  .quiz-timer-mobile {
    display: block;
  }
}
