.certificate {
    :global(.inprogress) {
        filter: grayscale(80);
    }
    :global(.st11) {
        font-size: 100px;
    }
    :global(.st10) {
        font-size: 72px;
    }
}

.progress {
    position: relative;
    @apply mt-5 mb-2;

    :global(.mantine-Progress-bar) {
        background: #13c296;
        border-bottom-right-radius: 0;
        border-top-right-radius: 0;
    }

    :global(.mantine-Progress-root) {
        box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    }

    :global(.required-progress) {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-right: 2px solid #f1646c;
    }
}
