.wrapper {
  @apply overflow-hidden hidden lg:flex items-center rounded bg-white bg-opacity-20;
}

.input {
  min-height: unset;

  &:global(::placeholder) {
    color: #e7e7e7;
  }

  @apply border-none w-full lg:w-[16rem] h-[2.15rem] rounded-[5px] bg-transparent focus:bg-white focus:placeholder-black pl-3 pr-8;
}

.button {
  @apply h-[2.15rem] w-12 border-none flex items-center justify-center text-white border-l cursor-pointer rounded-r-[5px] bg-transparent -ml-12 z-[200];
}

.button-circle {
  @apply p-0 justify-center rounded-full overflow-hidden border-none w-8 h-8 flex items-center bg-blue-primary text-white cursor-pointer;
}

.dropdown {
  @apply shadow-xl border;
  min-width: 400px !important;
  margin-left: 72px;
  margin-top: -5px;
}

// Mobile
.wrapperMobile {
  @apply bg-white fixed top-0 left-0 z-900 w-full h-full px-5 pt-4 pl-10 transition-all duration-300;
}

.inputmobile {
  min-height: unset;

  @apply border-none w-full h-[2.15rem] rounded-[20px] bg-gray-200 placeholder:text-gray-800;
}

.dropdownmobile {
  @apply rounded-none shadow-none border-none;
}
