.table {
  background: #fff;

  th {
    color: #fff !important;
    @apply bg-navy-primary;
  }
  thead tr th,
  tbody tr td {
    padding: 10px 16px;
  }
  :global(.nthRow) {
    td {
      background: #f8f9fa;
    }
  }
}
